# Archivo .env.example — NO contiene valores reales, solo estructura
DATABASE_URL="mysql://root:TU_CONTRASENA@localhost:3306/Sena_Gss"
NEXTAUTH_SECRET="tu-secreto-aleatorio-minimo-32-caracteres"
NEXTAUTH_URL="http://localhost:3000"
